{% extends 'base.html'%}

{%block title_head%}
<title>¿Querés chequear si estás en nuestra base de datos?</title>
{%endblock title_head%}

{%block h1_header%}
Adoptar un perro adulto es uno de los actos más nobles que una persona puede hacer por los animales.
{%endblock h1_header%}

{%block contenido%}
<button>
    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url 'inicio:lista_adoptantes'%}>¿Estás en nuestra base de datos?</a></li>
</button>
<form action="" method="get">
    <button>Buscar</button>
</form>
{%endblock contenido%}